@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

header {

    height: 3rem;
}

.title-bar {
    height: 50%;
    background-color: #d3d3d38b;
    display: flex;
    align-items: center;
    gap: 5px;

}

.title-image {
    height: 80%;
}

.title {
    font-size: 13px;
    font-weight: lighter;
}

.menu-bar {
    display: flex;
    gap: 1rem;
    margin-left: 5px;
    height: 50%;
    align-items: center;
    font-size: 13px;

}

footer {
    background-color: #d3d3d38b;
    height: 3rem;
}

main {
    background-color: black;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: relative;
}

.menu:hover {
    background-color: lightblue;
}

.menu-options {
    position: absolute;
    background-color: white;
    top: 3px;
    min-width:  160px;
    display: none;
    padding-left: 0px;
}

.menu:hover .menu-options {
    display: block;
}


ul {
    padding-left: 10px;
}

li {
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px;
    list-style: none;

}
li:hover{
    background-color:gainsboro;
}
.inputVideo{
    display: none;
}
.video{
    height: 100%;
}